<!DOCTYPE html>

<html >
    <head>
    
     <title>Resume</title>

     <style type="text/css">
        
        body { font: 16px Helvetica, Sans-Serif; padding:10px; margin: 0 auto; width: 90%}
         
        
         
        h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 32px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999;color: #002233; text-shadow: 5px 5px 5px #0099e6; padding-top: 1em}
         header { text-align:center}
         
        h2 {font-Size:22px; color: #12150f;  background: linear-gradient(90deg, #cce6ff,#b3d9ff,#99ccff);  text-shadow: 3px 3px 3px  #667fcc;} 
        
        h3 span {position: absolute;bottom: 0;right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        
        p { margin: 0 0 16px 0; }
    
        a { color: crimson; text-decoration: none; border-bottom: 1px dotted #999; }
        
        a:hover { border-bottom-style: solid; color: navy; }
        
        ul { margin: 0 0 32px 17px; }
        
      </style>
</head>

    <body>
    <header>
        
        <h1>xxxxxxxxxxxxxxxx</h1>
       
            <p>
               <b> Cell: </b><br/>
                <b>Email: </b>
            </p>
    </header> 
        
       
   
        
        <h2>Academic Projects</h2>
        
    <h3><u>Data Analysis and Risk Management (Jan 2015 – May 2015)</u></h3>
        <h4>Contribution</h4>
        <ul>
            <li>Planning and management of a retail project by performing feasibility study, estimating the cost, Capital, time and their financial outcomes on a large scale in Microsoft project.</li>

            <li>Identified the varying factors between customer profile and others to suggest appropriate marketing campaigns and recommend marketing strategies to acquire and retain more valuable customers.</li>
        </ul>
    <h3><u>Research project and presentation:(Jan 2016- May 2016)</u></h3>
      <h5><u><b>Tool</b></u>:WEKA </b></h5>
      <h5><u>Research Objectives:</u> </h5>
         <p>
            In the proposed research we are performed correlational analysis on the student’s performance in Kent core classes and their success towards graduation. Also, we are tried to understand if there is an association between the pattern of course-taking with student success. 
         The research findings will be made available for student success initiatives at the University to improve student success at the campus. In this study, we applied the data science concepts to understand the Kent State University graduation and retention rate on grades earned on Kent Core course offerings (These are mandatory classes for students). We performed data analysis, statistical analysis and explore the various correlation models and simulate the models using data science tool “Weka” for its precision.


        </p>
     <h2>Technical Skills and Core Competencies</h2>
         <ul>
            <li>MS Office</li>
            <li>HTML5/CSS</li>
            <li>MySql,Linux</li>
            <li>Devops</li>
            <li>node.js</li>
             <li>SDLC</li>

             <li>Project Management & Development, Business Analysis/Digital Marketing.</li>

             <li>Experience in Agile Methodologies and knowledge on Waterfall Model.</li>
        </ul>
        
            
    
                

</body>

</html>